/node_modules/

/.gitignore
/.settings
/.project
/.buildpath
/_private
README.md
/storage/
/user_privileges/cron.php
/cache/session/
/cache/templates_c
/config/csrf_secret.php
/config/config_override.php
/cache/logs/*.log
/cache/vtlib/
/cache/smarty/
/test/templates_c/basic/*.php
/nbproject/
/libraries/mPDF/
/modules/OSSMail/roundcube/
/libraries/PHPExcel/
/libraries/AJAXChat/
/libraries/gantt/
/vendor/rmccue/
/vendor/smarty/
/vendor/phpmailer/
/vendor/ezyang/
/vendor/symfony/
/vendor/doctrine/
/vendor/simshaun/
/vendor/linfo/node_modules/
tests/e2e/test-data/
